.sidenav__link--active {
	color: $color-blue;

	.sidenav__icon {
		color: $color-blue;
	}

	&:after {
		content: '';
		@include size(2px 24px);
		display: block;
		@include position(absolute, 50% null null 0);
		margin-top: -12px;
		background-color: $color-blue;
	}
}

.sidenav__link.active {
	color: $color-blue;

	.sidenav__icon {
		color: $color-blue;
	}
}