.container {
	width: 100%;

	@include media($min1024) {
		//padding: 66px 78px;
		padding: 56px;
		@include transition(padding 250ms ease);
	}
}

.nav-is-open {
	.container {
		@include media($min1024) {
			padding-left: 296px;
		}
	}
}

.form-group {
	opacity: 1;
	visibility: visible;
	@include transition(all 200ms ease);

	@include clearfix();

	& + .form-group {
		margin-top: 30px;
	}

	&.hidden {
		opacity: 0;
		visibility: hidden;
		margin-top: 0;
		height: 0;
	}

	&--video {
		height: 61px;
	}
}

.form-label {
	line-height: 21px;
	display: block;
	margin-bottom: 2px;
	top: -5px;
	position: relative;
}

.form-label--required {
	position: relative;

	&:after {
		content: ' *';
		font-weight: bold;
		color: $color-required;
	}
}

.form-input {
	display: block;
	@include size(100% 38px);
	border: 1px solid $color-input-border;
	@include border-top-radius(4px);
	@include border-bottom-radius(4px);
	padding: 0 12px;
	@include transition(all 500ms ease);

	&:focus {
		border-color: rgba(77, 161, 255, 0.75);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(77, 161, 255,.25);
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(77, 161, 255,.25);
 	}
}

.form-checkbox-container input[type="checkbox"] {
	display: none;
}

.form-checkbox-container input[type="checkbox"]:checked ~ .form-checkbox-label:before {
	background-color: $color-blue;
	border-color: $color-blue;
}

.form-checkbox-container + .form-category-group-title {
	margin-top: 24px;
}

.form-checkbox-label {
	cursor: pointer;
	display: inline-block;
	position: relative;
	padding: 2px 0 2px 30px;
	margin: 6px 0 12px;

	&:before {
		content: '';
		display: block;
		@include size(24px);
		@include border-top-radius(4px);
		@include border-bottom-radius(4px);
		@include position(absolute, 0 null null 0);
		border: 1px solid $color-input-border;
		@include bg('/images/icons/icon-check.svg', 12px, no-repeat, center);
	}
}

.form-categories {
	margin-top: -12px;
}

.form-category-group-title {
	color: $color-gray;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 0.5px;
	font-weight: bold;
	margin-bottom: 6px;
}

.form-publish {
	padding-bottom: 48px;
	margin-bottom: 42px;
	border-bottom: 1px solid $color-post-body-sidebar-border;
}

.form-col {
	@include media($min1024) {
		&--6 {
			@include span-columns(6 of 12);
		}

		& + .form-col {
			border-left: 1px solid $color-post-body-sidebar-border;
		}
	}
}

.section-title {
	font-weight: 500;
	margin: 0 0 30px;
	color: $color-dark;
	font-size: 23px;
	line-height: 33px;

	&--required {
		position: relative;

		&:after {
			content: ' *';
			color: $color-required;
			font-weight: bold;
		}
	}
}

.overlay {
	@include position(fixed, 0 null null 0);
	opacity: 0;
	background-color: $color-overlay;
	@include size(100%);
	display: block;
	visibility: hidden;
	z-index: -100;
	cursor: pointer;
	@include transition(all 500ms ease);

	&.active {
		visibility: visible;
		opacity: 0.75;
		z-index: 100;
	}
}

.btn {
	border: none;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 0.5px;
	font-weight: bold;
	text-align: center;
	line-height: 38px;
	padding: 0 12px;
	text-transform: uppercase;
	@include border-top-radius(4px);
	@include border-bottom-radius(4px);
	@include transition(all 300ms ease);

	& + .btn {
		margin-left: 12px;
	}

	&--primary {
		border: 1px solid $color-blue;
		color: $color-blue;

		i {
			margin-right: 3px;
		}

		&:hover {
			color: $color-blue-hover;
			border-color: $color-blue-hover;
		}
	}

	&--blue {
		background-color: $color-blue;
		color: #FFF;

		&:hover {
			background-color: $color-blue-hover;
		}
	}

	&--block {
		display: block;
		width: 100%;
	}

	&--large {
		padding: 4px 0;
	}

	&--small {
		line-height: 32px;
	}
}